body {
  background-color: black;
  color: white;
  text-align: center;
}

.board-container {
  margin: auto;
}

.cell {
  /* display: none; */
  /* opacity: 0 */
  font-size: 1.5em;
  width: 4.5rem;
  height: 4.5rem;
  background-color: lightblue
}

.modal {
  background-color: lightblue;
  color: blueviolet;
  height: 150px;
  font-size: 25px;
  text-align: center;
  padding-bottom: 4%
}