/* lightseagreen  lightskyblue */

* {
  box-sizing: border-box;
}


body {
  background-color: rgb(9, 214, 183);
  /* color: white; */
  text-align: center;
  margin: 0
}

h2 {
  background-color: rgb(221, 140, 115);
}

.board-container {
  margin: auto;
}

.header {
  color: black;
  max-width: 0 rem;
  min-height: 5rem;
  font-size: 5rem;
  text-align: center;
  margin-block-start: 2rem;
  margin-block-end: 2rem;

}

.score {
  min-height: 5rem;
  font-size: 5rem;
  font-family: monospace;
  margin-inline-end: 8rem;

}



.timer {
  min-height: 5rem;
  font-size: 5rem;
  font-family: monospace;
  margin-inline-start: 10rem;
}

.cell {
  font-size: clamp(3.15rem, 5rem, 1.9vw);
  width: clamp(10rem, 5vw, 14rem);
  /* min-height: 3rem; */
  height: clamp(4rem, 8vh, 4.2rem);

  background-color: lightblue;
  cursor: pointer;
  border: 0.3rem solid darkblue;
  /* border-width: 1rem;
  border-color: black; */
}

.hidden {
  display: none;
}

.-hint {
  
  width:5.5rem;
  min-height: 0rem;
  margin-block-start: 0rem;
  margin-block-end: clamp(0.7rem, 0.6rem, 1.5rem);
  margin-inline-start: 0rem;
  margin-inline-end: clamp(3.7rem, .6rem, 1.5rem);
  cursor: pointer;
  /* border-width: 0.2rem;
  border-color: black; */
}

 .-hint img {
  width: 4.5rem;
}

/* .-hint span{
  width: 330em;
} */

.emoji {
  font-size: clamp(2.5rem, 4.5rem, 9rem);
  width: clamp(5.5rem, 10rem, 14rem);
  min-height: 4rem;
  margin-inline: clamp(1.7rem, 0.6rem, 1.5rem);
  margin-block-start: 0rem;
  cursor: pointer;
  border-width: 0.2rem;
  border-color: black;

}


.easy {
  font-size: 3.5rem;
  width: 10rem;
  min-height: 4.6rem;
  cursor: pointer;
  border-width: 0.2rem;
  border-color: black;

}

.medium {
  font-size: 3.5rem;
  width: 14rem;
  min-height: 4.6rem;
  cursor: pointer;
  border-width: 0.2rem;
  border-color: black;

}

.hard {
  font-size: 3.5rem;
  width: 10rem;
  min-height: 4.6rem;
  cursor: pointer;
  border-width: 0.2rem;
  border-color: black;

}

.modal {
  background-color: rgb(221, 140, 115);
  height: 15rem;
  font-size: 5rem;
  text-align: center;
  /* padding-bottom: 4% */
  margin-top: 0rem;
  margin: 0, 0, 0;
}


.modal span {
  font-size: 4rem;
  text-align: center;
  margin-block-start: auto;

}

.bottom-screen {
  background-color: rgb(73, 181, 224);
  min-height: 24rem;
}